.item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f5f5;
	color: #6b6b6f;
	padding: 10px 20px;
	margin: 15px;
	border-radius: 10px;
}
.item p{
	flex-basis: 0;
	flex-grow: 1;
}
.item span{
	display: inline-block;
	font-size: 1.3rem;
	text-align: center;
	margin-right: 10px;
	background-color: #fff;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	transition: .1s all ease-in-out;


}
.item button{
	width: 35px;
	height: 35px;
	background-color: #fff;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}
.item button:hover{
	font-size: 1.5rem;
}
@media screen and (min-width: 350px) and (max-width: 854px) {
	.item {
	  padding: 8px 10px;
	  margin: 10px;
	  flex-wrap: wrap; 
	}
	.item p {
	  font-size: 0.9rem;
	  overflow-wrap: break-word;
	  flex-basis: 100%;
	  margin: 5px 0;
	}
	.item span {
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	  font-size: 1rem;
	  margin-right: 5px;
	}
	.item button {
	  width: 30px;
	  height: 30px;
	}
	.item button:hover {
	  font-size: 1.3rem;
	}
  }
  